body {
  background: linear-gradient(to bottom right, #fff, #E4EEF2);
  font-family: "Lucida Console", Monaco, monospace;
}

.box {
  height: 180px;
  line-height: 170px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  background-clip: padding-box;
  border: 6px solid transparent;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.cats-game {
  background-image: url("file:///Users/adambeck/wdi/tic-tac-toe/img/catsgame.gif");
  color: #fff;
}

.dark-box {
  background-color: #bfc0c0;
}

.light-box {
  background-color: #d4d4d4;
}

.o  {
  font-size: 11em;
  color: #ffbf96;
  background-color: #2d3142;
}

.score {
  font-size:19px;
}

.x {
  font-size: 11em;
  color: #ffbf96;
  background-color: #4f5d75;
}

#board {
  margin-top: 10px;
}

#final-row {
  margin-top: 1.5em;
  margin-bottom: 5em;
  text-align: center;
}

#scoreboard {
  font-size: 20px;
  padding-top: 18px;
  line-height: 20px;
}

@media (max-width: 991px) {
  #scoreboard {
    display:none;
}
